html, body, div, h1, h2, h3, h4, h5, h6, .reset {
  padding: 0px;
  margin: 0px;
  font-family: Georgia, "Times New Roman", serif;
}

a, a:visited, a:hover {
  color: #3e3ebb;
  text-decoration: none;
}

.bg1, body { background: #ddd; }

.bg2 { background: #fff; }

#main {
  background: #fff;
  height: 100%;
  margin: 0px auto;
}

div.content { padding: 1.2em; }

#pagination { padding: 0em 1.2em 1.2em 1.2em; }

#header, #footer { padding: 1.2em 0; }

#footer { font-size: .8em; }

#pagination { clear: both; }

#previous { float: left; }

#next { float: right; }

.full_width { width: 100%; }

.standard_width {
  width: 600px;
  margin: 0 auto;
}

.padded_width {
  width: 570px;
  margin: 0px auto;
}

.center { text-align: center; }

div.content h2, h3 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ddd;
}

div.content p { margin: 1em 0px 1em 0px; }

div.content :first-child { margin-top: 0px; }

div.content h2, h3, h4, h5 { margin: 1em 0px 0px 0px; }

div.content :last-child { margin-bottom: 0px; }

ul#post_list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

li.post { padding-bottom: 10px; }

li.post:last-child { padding-bottom: 0px; }

div.post_header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ddd;
  position: relative;
}

li.post .title { display: block; }

li.post .date {
  font-size: 0.8em;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

li.post .description {
  font-size: 0.8em;
  font-style: italic;
}
