<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title>Jeremy Neander, Apprentice at 8th Light</title>
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/syntax.css" />
</head>
<body>

  <div id="header" class="full_width bg1">
    <div class="standard_width">
      <h1>Jeremy Learns Craftsmanship</h1>
    </div>
  </div>

  <div id="main" class="standard_width">

    <div id="nav">

    </div>

    {{ content }}

  </div>

  <div id="footer" class="full_width bg1">
    <div class="standard_width">
      <p class="reset center">&#169; Jeremy Neander 2012</p>
    </div>
  </div>

</body>
</html>
