<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title>{{ site.identity }}</title>
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/syntax.css" />
  <link rel="stylesheet" href="/css/disqus.css" />
</head>
<body>

  <div id="header" class="padded_width bg1">
    <h1><a href="{{ site.url }}">{{ site.title }}</a></h1>
  </div>

  <div class="full_width bg2">
    <div class="padded_width">

      {{ content }}
     
    </div>
  </div>

  <div id="footer" class="padded_width bg1">
    <p class="reset center">&#169; {{ site.copyright }}</p>
  </div>

</body>
</html>
